# Ignore local caches and generated plots, except the final ones
**/cache/**
**/plots/**
**/figures/**
!**/figures/final/**

# Ignore most images
*.png
*.jpg
*.pdf

# Ignore other big binaries (global)
*.h5ad
*.h5
*.loom
*.npz
*.npy
**/cache/
*.pdf
*.tar
*.tar.gz
*.zip
scanpy_practice/data/




